# Ignore everything
/*

# Git
!.gitignore
!README.md
!.gitmodules
!LICENSE

# Hyprland

!hypr
!hypr/*
!shikane
!shikane/*
!waybar
!waybar/*
!swaylock
!swaylock/*
!nvim
!nvim/*

!tmux
!tmux/*
tmux/plugins/*
